<h1>Listing Orders</h1>
<table>
  <tr>
    <th>Order No.</th>
    <th>Phone</th>
  </tr>
  <% @orderslist.each do |order| %>
    <tr>
      <td><%= order.order_number  %></td>
      <td><%= order.phone %></td>
    </tr>
  <% end %>
</table>
